
<div>

      <form [formGroup] = "f" novalidate>
        <div class = "col s12">
        <div class ="input-field col s12">
        <div class="form-group has-feedback" [ngClass]="{'has-success': f.controls['email'].valid,
        'has-error': f.controls['email'].invalid && (f.controls['email'].touched || f.controls['email'].dirty)}">
        <i class ="material-icons left">account_circle</i>
        <input type="email" formControlName="email" class="form-control center" id="InputEmail"
        placeholder="Email">
        <span *ngIf="f.controls['email'].valid"
        class ="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        <span *ngIf="f.controls['email'].invalid && (f.controls['email'].touched || f.controls['email'].dirty)">
        <span class = "glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        <span class = "text-danger">E-mail inválido.</span>
        </span>
        </div>
        </div>
        <div class="input-field col s12">
        <div class="form-group" [ngClass]="{'has-success': f.controls['password'].valid,
        'has-error': f.controls['password'].invalid && (f.controls['password'].touched || f.controls['password'].dirty)}">
        <i class="material-icons left">lock</i>
        <input type="password" formControlName="password" class="form-control center"
        id="InputPassword" placeholder="Senha">
        <span class="text-danger"
        *ngIf="f.controls['password'].invalid && (f.controls['password'].touched || f.controls['password'].dirty)">Campo obrigatório.</span>
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col s3">
        <a href="auth\recover-password" class="red-text">Esqueci a Senha!</a>
        </div>
        <div class="col s3">
        <a href="auth\register" class="green-text">Cadastrar-se</a>
        </div>
        <button type="submit" class="btn halfway-fab waves-effect waves-light blue right"
        [disabled]="f.invalid" (click)="onSubmit()">
        <i class="material-icons left">send</i>Entrar
        </button>
        </div>
        </form>
      </div>

  <br>
  <div class="row justify-content-md-center">
    <button class="btn btn-success col-md-6" routerLink="/register" type="submit">Cadastre-se</button>
  </div>
