<div class="row" style="background-color:#A9A9A9">
  <div class="col-xs-6 col-md-4" align="center"></div>
  <div class="col-xs-6 col-md-4" align="center">
    <form [formGroup] = "f" novalidate>
    <div>
      <div >
        <div class="form-group has-feedback" [ngClass]="{'has-success': f.controls['email'].valid,
        'has-error': f.controls['email'].invalid && (f.controls['email'].touched || f.controls['email'].dirty)}">
          <b>E-mail</b>
          <input type="email" formControlName="email" class="form-control center" id="InputEmail"
                 placeholder="Email">
          <span *ngIf="f.controls['email'].valid"
                class ="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span *ngIf="f.controls['email'].invalid && (f.controls['email'].touched || f.controls['email'].dirty)">
        <span class = "glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        <span class = "text-danger">E-mail inválido.</span>
        </span>
        </div>
      </div>
      <div>
        <div class="form-group" [ngClass]="{'has-success': f.controls['password'].valid,
        'has-error': f.controls['password'].invalid && (f.controls['password'].touched || f.controls['password'].dirty)}">
          <b>Senha</b>
          <input type="password" formControlName="password" class="form-control center"
                 id="InputPassword" placeholder="Senha">
          <span class="text-danger"
                *ngIf="f.controls['password'].invalid && (f.controls['password'].touched || f.controls['password'].dirty)">Campo obrigatório.</span>
        </div>
      </div>
    </div>
    <div class="row">

      <button type="submit" class="btn btn-primary"
              [disabled]="f.invalid" (click)="onSubmit()"><b>Entrar</b></button>
    </div>
    </form>
    <br>
    <br>
    <a href="recover" class="red-text">Esqueci a Senha!</a>
    <br>
    <a href="register" class="green-text">Cadastrar-se</a>
  </div>
  <!--<div class="row justify-content-md-center">-->
  <!--<button class="btn btn-success col-md-6" routerLink="/register" type="submit">Cadastre-se</button>-->
  <!--</div>-->
  <div class="col-xs-6 col-md-4" align="center"></div>
</div>


