<div class="container-fluid">
  <div class="content">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <h3 class="text-xl-center">Recuperar Senha</h3>
        </li>
      </ol>
    </nav>
    <div align="center">
      <div>
        <div class="panel panel-primary">
          <div class="panel-heading">Insira o e-mail cadastrado.</div>
          <div class="panel-body">
            <form action="" method="post" class="form">
              <div class="form-group">
                <label for="nome">Ex: seuemail@email.com</label>
                <input type="text" name="nome" id="nome" required minlength="5" class="form-control"/>
              </div>
              <div>
                <input type="submit" class="btn btn-success" value="Recuperar"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div></div>