<div class="container-fluid">
  <div class="content">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <h3 class="text-xl-center">VI JTGTI</h3>
        </li>
      </ol>
    </nav>
    <div style="text-align: center">

      <div style="width: 100%; height: 200px;">
        <div>
          <img src="assets/Imagens/ifpe.png" height="90" alt="logo-evento">
        </div>
        <div>
          De 08/05/2018 a 10/05/2018
        </div>
        <div>
          Local: IFTO - Campus Paraíso do Tocantins - TO
        </div>
        <div>
          Evento de Tecnologia da Informação do IFTO
        </div>
      </div>
      <div >
        <form action="http://localhost/sciec-fake/public/user/event/1/activity/insc" method="post">
          <input type="hidden" name="_token" value="sY4yIZVYrMDoD57HFUIPxixDOeqUN586A8rQ8zBo">
          <fieldset class="module">
            <legend></legend>
            <table class="table table-hover">
              <thead>
              <tr style="font-weight:bold">
                <th width="5%">

                </th>
                <th class="sortable" width="40%">Programação</th>
                <th class="sortable" width="13%">Vagas Disponíveis</th>
                <th class="sortable" width="25%">Data</th>
                <th class="sortable" width="30%">Detalhes da Atividade</th>
              </tr>
              </thead>
              <tbody>
              <tr id="atividade_set-2" class="row1">
                <td align="center" style="vertical-align:middle">
                  <input type="checkbox" name="atividade[]" value="1" style="float:none">
                </td>
                <td style="vertical-align:middle; text-align: left;">
                  Minicurso Robótica - Robô Lego
                </td>
                <td style="vertical-align:middle;text-align: left;">
                  <p align="center">0/0</p>
                </td>
                <td style="vertical-align:middle">
                  15/03/2011 a 08/06/2018
                </td>
                <td>
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal1">Detalhes</button>

                  <div class="modal fade" id="myModal1" role="dialog">
                    <div class="modal-dialog">

                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Minicurso Robótica - Robô Lego</h4>
                        </div>
                        <div class="modal-body">
                          <p>Local: IFTO - Campus Paraíso do Tocantins - TO</p>
                          <p>Horário: 04:00:00</p>
                          <p>Descrição:</p>
                          <p>Introdução a robótica utilizando robô de lego</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>
                      </div>
                      <br>
                    </div>
                  </div>
                </td>
              </tr>
              <tr id="atividade_set-1" class="row1">
                <td align="center" style="vertical-align:middle">
                  <input type="checkbox" name="atividade[]" value="2" style="float:none">
                </td>
                <td style="vertical-align:middle; text-align: left;">
                  Minicurso Introdução a Robótica
                </td>
                <td style="vertical-align:middle">
                  <p align="center">0/0</p>
                </td>
                <td style="vertical-align:middle">
                  15/03/2011 a 08/06/2018
                </td>
                <td>
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal2">Detalhes</button>

                  <div class="modal fade" id="myModal2" role="dialog">
                    <div class="modal-dialog">

                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Minicurso Introdução a Robótica </h4>
                        </div>
                        <div class="modal-body">
                          <p>Local: IFTO - Campus Paraíso do Tocantins - TO</p>
                          <p>Horário: 04:00:00</p>
                          <p>Descrição:</p>
                          <p>Introdução ao conceitos da robótica </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>
                      </div>
                      <br>
                    </div>
                  </div>
                </td>
              </tr>
              <tr id="atividade_set-0" class="row1">
                <td align="center" style="vertical-align:middle">
                  <input type="checkbox" name="atividade[]" value="5" style="float:none">
                </td>
                <td style="vertical-align:middle;text-align: left;">
                  Assumenda aliquid enim fuga qui est eum et fugiat.
                </td>
                <td style="vertical-align:middle">
                  <p align="center">0/0</p>
                </td>
                <td style="vertical-align:middle">
                  19/09/2006 a 12/08/1993
                </td>
                <td>
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal5">Detalhes</button>

                  <div class="modal fade" id="myModal5" role="dialog">
                    <div class="modal-dialog">

                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Assumenda aliquid enim fuga qui est eum et fugiat.</h4>
                        </div>
                        <div class="modal-body">
                          <p>Local: Quod ducimus odio eum deleniti.</p>
                          <p>Horário: 18:47:37</p>
                          <p>Descrição:</p>
                          <p>Consequatur rem eius quia consequuntur unde maxime.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>
                      </div>
                      <br>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>

            </table>
          </fieldset>
          <hr>
          <div style="text-align: center" class="submit-row">
            <input type="submit" class="btn btn-success" value="Inscrever">
          </div>
        </form>
      </div>

    </div>
  </div></div>
