<!--<div class="container-fluid">-->
  <!--<div class="content">-->
    <!--<div class="table-full-width">-->
      <!--<table class="table">-->
        <!--<thead>-->
        <!--<tr>-->
          <!--<th scope="col">nome</th>-->
          <!--<th scope="col">descricao</th>-->
          <!--<th scope="col">local</th>-->
          <!--<th scope="col">data inicio</th>-->
          <!--<th scope="col">data conclusao</th>-->
          <!--<th scope="col">situacao</th>-->
          <!--<th scope="col">status</th>-->
          <!--<th scope="col">coordenador</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->

          <!--<td>{{dtevents.evento.nome}}</td>-->
          <!--<td>{{dtevents.evento.descricao}}</td>-->
          <!--<td>{{dtevents.evento.local}}</td>-->
          <!--<td>{{dtevents.evento.data_inicio}}</td>-->
          <!--<td>{{dtevents.evento.data_conclusao}}</td>-->
          <!--<td>{{dtevents.evento.situacao}}</td>-->
          <!--<td>{{dtevents.evento.status}}</td>-->
          <!--<td>{{dtevents.evento.coordenador}}</td>-->

          <!--&lt;!&ndash;<tr *ngFor="let dtevent of dtevents.evento">&ndash;&gt;-->
          <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--</tbody>-->
      <!--</table>-->
    <!--</div>-->
    <!--</div>-->
  <!--</div>-->


<div class="container-fluid">
  <div class="content">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <h3 class="text-xl-center">{{dtevents.evento.nome}}</h3>
        </li>
      </ol>
    </nav>
    <div style="text-align: center">

      <div style="width: 100%; height: 200px;">
        <div>
          <img src="assets/Imagens/ifpe.png" height="90" alt="logo-evento">
        </div>
        <div>
          De {{dtevents.evento.data_inicio | date: 'dd/MM/yyyy'}} à {{dtevents.evento.data_conclusao | date: 'dd/MM/yyyy'}}
        </div>
        <div>
          Local: {{dtevents.evento.local}}
        </div>
        <div>
          {{dtevents.evento.descricao}}
        </div>
      </div>
      <div >
        <form id = "formNewUser" name = "formNewUser" #productData = "ngForm" (ngSubmit) = "addNewDtEvent(productData.value)">

          <fieldset class="module">
            <legend></legend>
            <table class="table table-hover">
              <thead>
              <tr style="font-weight:bold">
                <th width="5%">

                    <!--descricao-->
                    <!--:-->
                    <!--"Introdução a robótica utilizando robô de lego"-->
                    <!--events_id-->
                    <!--:-->
                    <!--1-->
                    <!--horas-->
                    <!--:-->
                    <!--"04:00:00"-->
                    <!--id-->
                    <!--:-->
                    <!--1-->
                    <!--local-->
                    <!--:-->
                    <!--"IFTO - Campus Paraíso do Tocantins - TO"-->
                </th>
                <th class="sortable" width="40%">Programação</th>
                <th class="sortable" width="13%">Vagas Disponíveis</th>
                <th class="sortable" width="25%">Data</th>
                <th class="sortable" width="30%">Detalhes da Atividade</th>
              </tr>
              </thead>
              <!--<input type="hidden" name = " evento " value = "{{dtevents.evento.id}}" ngModel>-->
              <!--<input type="hidden" name = " user " value = "{{authService.getUser().id}}" ngModel>-->
              <tbody *ngFor="let ativ of dtevents.atividade ">
              <tr id="atividade_set-{{ativ.id}}" class="row1">
                <td align="center" style="vertical-align:middle">
                  <input type="checkbox" name="{{ativ.id}}" value="{{ativ.id}}" style="float:none" ngModel>
                </td>
                <td style="vertical-align:middle; text-align: left;">
                  {{ativ.nome}}
                </td>
                <td style="vertical-align:middle;text-align: left;">
                  <p align="center">{{dtevents.qtd[ativ.id]}}/{{ativ.qtd_inscritos}}</p>
                </td>
                <td style="vertical-align:middle">
                  {{ativ.data_inicio | date: 'dd/MM/yyyy'}} à {{ativ.data_conclusao | date: 'dd/MM/yyyy'}}
                </td>
                <td>
                  <button type="button" class="btn btn-primary" style="border-color: #006400; background-color: #006400; color: #ffffff" data-toggle="modal" attr.data-target="#myModal{{ativ.id}}">Detalhes</button>

                  <div class="modal fade" id="myModal{{ativ.id}}" role="dialog">
                    <div class="modal-dialog">

                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">{{ativ.nome}}</h4>
                        </div>
                        <div class="modal-body">
                          <p>Local: {{ativ.local}}</p>
                          <p>Horário: {{ativ.horas}}</p>
                          <p>Descrição:</p>
                          <p>{{ativ.descricao}}</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" style="border-color: #006400; background-color: #006400; color: #ffffff" data-dismiss="modal">Fechar</button>
                        </div>
                      </div>
                      <br>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>

            </table>
          </fieldset>
          <hr>
          <div style="text-align: center" class="submit-row">
            <input type="submit" class="btn btn-primary" style="border-color: #006400; background-color: #006400; color: #ffffff" value="Inscrever">
          </div>
        </form>
      </div>

    </div>
  </div></div>
<!--<div *ngFor="let ativ of dtevents.atividade "  >-->
  <!--<p>{{ativ.nome}}/{{dtevents.qtd[ativ.id]}}</p>-->
<!--</div>-->
