
<table class="table">


  <thead>
  <tr>

    <th scope="col">Nome</th>
    <th scope="col">CPF</th>
    <th scope="col">Evento</th>
    <th scope="col">Data inicio </th>
    <th scope="col">Conclusao</th>
    <th scope="col">Tipo Atividade </th>
    <th scope="col">Atividade</th>
    <th scope="col">Horas</th>
    <th scope="col">Tipo</th>


  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let certificados of certificado[0]">
    <td>{{certificados.nome }}</td>
    <td>{{certificados.cpf }}</td>
    <td>{{certificados.evento }}</td>
    <td>{{certificados.data_inicio }}</td>
    <td>{{certificados.conclusao}}</td>
    <td>{{certificados.tipo_nome}}</td>
    <td>{{certificados.atividade}}</td>
    <td>{{certificados.horas}}</td>
    <td>{{certificados.tipo}}</td>

  </tr>
  </tbody>
</table>

