<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" >{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">


            <ul class="nav navbar-nav navbar-right">
                <li><a href="home">Listar Eventos</a></li>
                <li class="divider"></li>

                <li >
                    <a href="valida">
                        <p>Validar Certificado   </p>
                    </a>
                </li>
                <li class="dropdown" ngIf="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <p>
                            Retorno do usuario
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Minhas Inscrições</a></li>
                        <li><a href="#">Perfil</a></li>
                        <li><a href="#" (click)="logout($event)" )>Sair</a></li>
                        <li class="divider"></li>

                    </ul>
                </li>
                <li *ngIf="!logado">
                    <a href="login">
                        <p>Login</p>
                    </a>
                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>

        </div>

    </div>
</nav>
