<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #003300">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!--<img  src="assets/Imagens/ifpe.png" width="60" height="60" alt="logo-evento">-->
            <!--<a   style="color: #ffffff; border-color: #ffffff" routerLink="/" >-->

                <!--SCIEC-->
            <!--</a>-->
            <img  src="assets/Imagens/logo.png" width="120" height="60" alt="logo-evento">
        </div>
        <div class="collapse navbar-collapse">


            <ul class="nav navbar-nav navbar-right">
                <li class="divider"></li>

                <li >
                    <!--<a href="valida">-->
                        <!--<p>Validar Certificado   </p>-->
                    <!--</a>-->
                    <button class="btn btn-light" style="color: #ffffff; border-color: #ffffff" routerLink="valida">Validar Certificado</button>
                </li>
                <li >
                    <button class="btn btn-light" style="color: #ffffff; border-color: #ffffff" routerLink="home">Eventos</button>
                </li>
                <li class="dropdown" *ngIf="authService.check()">

                    <div class="dropdown">

                        <button style="color: #ffffff; border-color: #ffffff" class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">{{authService.getUser().name}}
                            <span class="caret"></span></button>

                        <ul class="dropdown-menu">

                            <li><a routerLink="inscricoes">Minhas Inscrições</a></li>
                            <li><a routerLink="perfil">Meu Perfil</a></li>
                            <li><a href="#" (click)="logout($event)">Sair</a></li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="!authService.check()" >
                    <!--*ngIf="!logado" -->
                    <button style="color: #ffffff; border-color: #ffffff" class="btn btn-light" routerLink="/login">Entrar<span class="sr-only">(current)</span></button>
                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>

        </div>

    </div>
</nav>

