<div class="container-fluid">
    <div class="content">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    <h3 class="text-xl-center">Eventos</h3>
                </li>
            </ol>
        </nav>
        <div class="tab-content">

            <div class="container">
                <div class="row">
                    <div *ngFor="let event of events.data"  >
                        <!--<div class="card" style="height: 15em">-->
                            <!--<div class="h4 text-center">{{event.nome}}</div>-->
                            <!--<a href="detalhes-evento" class="waves-effect waves-light btn green col s12" *ngIf="events.data"><i-->
                                    <!--class="material-icons left">event</i>Ver-->
                                <!--Evento</a>-->
                            <!--<div class="card-content">-->
                                <!--<p>{{event.descricao}}</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="col-md-4" *ngIf="(((event.situacao==1)==true)&&(true==(event.status==1)))" >
                            <div class="card" style="width:250px;height:300px" align="center">
                                <img class="card-img-top" src="assets/Imagens/ifpe.png" width="100" height="160" alt="logo-evento">
                                <div class="card-body">
                                    <h5 class="card-title"><b>{{event.nome}}</b></h5>
                                    <!--<button onclick="location.href = '/detalhes-evento/';" class="btn btn-primary">Ver Evento</button>-->
                                    <!--<button onclick="location.href ='/detalhes-evento/'" class="btn btn-primary">Ver Evento</button>-->
                                    <!--<button ng-click="RedirectToURL(/detalhes-evento)" class="btn btn-primary">Ver Evento</button>-->
                                    <!--<button go-click="/detalhes-evento">Click!</button>-->
                                    <!--<button ng-click="$location.path('/detalhes-evento')">New Page</button>-->
                                    <!--<a [routerLink]="['/product-details', event.id]"></a>-->
                                    <!--<button [routerLink]="['/valida', event.id]" class="btn btn-primary">Ver Evento</button>-->
                                    <!--<button class="btn btn-success" ng-click="go(/valida)">Cadastra-se</button>-->
                                    <!--<button type="button" href="location.href='/valida'">Title on button</button>-->
                                    <button class="btn btn-primary" (click)="redirecionar(event.id)">Ver Evento</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <hr>
                    <div class="stats">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>