<footer class="footer" style="background-color: #003300">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#" style="color: #ffffff; border-color: #ffffff" >
                        Home
                    </a>
                </li>

            </ul>
        </nav>
        <p style="color: #ffffff; border-color: #ffffff" class="copyright pull-right">
            {{test | date: 'yyyy'}} <a href="#" style="color: #ffffff; border-color: #ffffff">IFTO</a></p>
    </div>
</footer>
